PROD_DISCORD_GUILD=    # PTN Main Server ID
APPLICATION_ID_PROD=
SPYPLANE_DISCORD_TOKEN_PROD=


TEST_DISCORD_GUILD=818174236480897055 # PANTS
APPLICATION_ID_TESTING=
SPYPLANE_DISCORD_TOKEN_TESTING=

PRODUCTION=False
